<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:newznab="http://www.newznab.com/DTD/2010/feeds/attributes/">
    <channel>
        <title>NZB Hydra</title>
        <description>NZB Hydra - the meta search</description>
        <link>https://github.com/theotherp/nzbhydra</link>
        <language>en-gb</language>
        <webMaster>TheOtherP@gmx.de (TheOtherP)</webMaster>

        <newznab:response offset="{{ offset }}" total="{{ total }}"/>

        {% for row in items -%}
            <item>
                <title>{{ row['title'] }}</title>
                <guid isPermaLink="true">{{ row['link'] }}</guid>
                <link>{{ row['link'] }}</link>
                <comments>{{ row['details_link'] }}</comments>
                <pubDate>{{ row['pubDate'] }}</pubDate>
                <description>{{ row['title'] }} - {{ row['providertitle'] }}</description>
                <enclosure url="{{ row['link'] }}" length="{{ row['size'] }}" type="application/x-nzb"/>

                {% for attribute in row.attributes %}
                    <newznab:attr name="{{ attribute.name }}" value="{{ attribute.value }}"/>
                {%- endfor %}


            </item>

        {%- endfor %}

    </channel>
</rss>