[Unit]
Description=NZBHydra Daemon
Documentation=https://github.com/theotherp/nzbhydra
After=network.target

[Service]
User=ChangeMe
Group=ChangeMe
Type=simple
#
# If you're using a Linux distribution that ships with an older version of Python
# then you'll need to perform an "altinstall" of Python to a version greater then 
# 2.7.9 but not version 3 - this typically applies to Red Hat based distributions
# and uncomment out the following line:
#
# ExecStart=/usr/local/bin/python2.7 /path-to/nzbhydra/nzbhydra.py --nobrowser
#
# If you're not using a Red Hat based distribution, then you only need to change
# that path to NZBHydra in the following line:
#
ExecStart=python /path-to/nzbhydra/nzbhydra.py --nobrowser
# If you're using a Red Hat based distribution then you'll need to comment out the
# above ExecStart line to avoid service conflicts.
#
# By default, NZBHydra stores it's configuration file and database in the home
# directory of the user account it runs under. Add the following to the command
# line: --config /path-to/settings.cfg --database /path-to/nzbhydra.db
#
# Change this path to your NZBHydra installation as well
PIDFile=/path-to/nzbhydra/nzbhydra.pid

KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
