[Unit]
Description=NZBHydra Daemon
Documentation=https://github.com/theotherp/nzbhydra
After=network.target

[Service]
User=nzbhydra
Group=nzbhydra
Type=simple

# NZBHydra requires python > 2.7.9 *and* < 3.x. Most distributions offer both,
# often `python` is 3.x and 2.x is `python2` or `python2.7`. Use --version
# to figure out which is correct and `which python` to find the full path to
# correct the line below.

# NZBHydra stores it's configuration file and database in the home directory
# of the user account it runs as. Add the below options to change its behavior
# --config /path-to/settings.cfg --database /path-to/nzbhydra.db
ExecStart=/path-to/python2 /path-to/nzbhydra/nzbhydra.py --nobrowser

# In Settings, enable "Shutdown to restart" so NZBHydra will just shut down and
# let systemd restart it. To actually shut down, NZBHydra will exit with a
# status of 6, signaling systemd not to restart it.
Restart=always
SuccessExitStatus=6
RestartPreventExitStatus=6

[Install]
WantedBy=multi-user.target
