/flask_session
/nzbhydra/static
/cache
/nzbhydra/tests/mock/cache
/nzbhydra/tests/playground.py
/node_modules
/bower_components
*.db
*.cfg
realsettingsmockproviders.cfg
/tests/mock/xml/*
/tests/mock/nzbclubrss_q_avengers.xml
/tests/mock/*.xml
/tests/mock/*.json
/tests/mock/*.html
/nzbhydra_virtualenv
/libs/**/*.pyc
/libs/**/__pycache__
/libs/**/tests/**
/libs/**/test/**
/libs/**/testsuite/**
*.log