/.vagrant
Vagrantfile
/.tmp
/backup
/debug
/sampleapiresults
/dist
/build
/flask_session
/.idea
/cache
/nzbhydra/tests/mock/cache
/nzbhydra/tests/playground.py
/node_modules
/bower_components
*.db*
*.cfg*
*.bak
*.log*
**/*.pyc
/libs/**/__pycache__
/libs/**/tests/**
/libs/**/test/**
/libs/**/testsuite/**
/*.cmd
**/.cache
nzbhydra.pid
/buildWindowsDist.py
