@import "../../bower_components/bootstrap-less/less/bootstrap.less";
@import "slate-variables.less";

@grid-columns: 20;

html,
body {
  height: 100%;
  background: @body-bg;
}

/* ------ featurette */
.featurette {
  display: table;
  width: 100%;
  height: 10%; /* set a pixel height and then remove the body,html height */
  vertical-align: middle;
  color: #fff;
}

.featurette-inner {
  display: table-cell;
  vertical-align: middle;
}

.featurette .search {
  padding: 3%;
  max-width: 980px; /*max width of search*/
  margin: 0 auto;
}

.no-margin-top {
  margin-top: 0
}

/* ------ form-control-lg */
.form-control-lg {
  min-height: 46px;
  border-radius: 6px;
  font-size: 18px;
  line-height: normal;
}

.td-embedded:first-child {
  padding-left: 15px;
}

a.expand-collapse:focus {
  text-decoration: none;
}

.expand-collapse-hidden {
  visibility: hidden;
}

.hidden-keep-space {
  visibility: hidden;
}

.caret-reversed {
  transform: rotate(180deg);
}

.search-input {
  width: 80%;
}

.episode-input {
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-radius: 0;
}

.season-input {
  border-radius: 0;
}

.search-border {
  border-bottom-right-radius: @border-radius-base !important;
  border-top-right-radius: @border-radius-base !important;
  //border-right-width: 0px !important;
}

.search-category-button {
  min-width: 105px; //Enough for "Movies HD"
  text-align: left;
}

.by-id-checkbox {

  font-size: @font-size-base;

  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid @input-border;
  border-right: 0px;

  border-radius: @input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}

.cursor-default {
  cursor: pointer;
}

.nzb-spinning {
  background-image: url('../img/spinner.gif');
}

.addable-nzb {
  display: inline-block;
}

.sabnzbd {
  background-image: url('../img/sab.png');
}

.sabnzbd-success {
  background-image: url('../img/sabsuccess.png');
}

.sabnzbd-error {
  background-image: url('../img/saberror.png');
}

.nzbget {
  background-image: url('../img/nzbget.png');
}

.nzbget-success {
  background-image: url('../img/nzbgetsuccess.png');
}

.nzbget-error {
  background-image: url('../img/nzbgeterror.png');
}

.icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

.config-tab-content {
  background-color: @gray-dark;
  margin: 30px;
  padding: 20px;
}

.config-field {
  width: 400px;
}

.checkbox-field {
  width: auto;
}

.config-select {
  margin: 30px;
  text-align: left;

}

.config-field-container {
  margin: 30px;
  text-align: left;
}

.control-label {

}

.config-select-field > button {
  background-color: @gray-darker;
}

.growl-container > .icon {
  width: inherit;
  height: inherit;
}

.navbar .nav,
.navbar .nav > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  *zoom: 1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align: center;
}

a.disabled {
  color: @gray-dark;
  text-decoration: none;
  cursor: default;
}

a.disabled:hover {
  color: @gray-dark;
  text-decoration: none;
  cursor: default;
}

.visibility-hidden {
  visibility: hidden;
}

.search-results-table {
  display: table;
  width: 100%;
  background-color: @table-bg;
}

.search-results-header {
  //display: table-header-group;
  text-align: center;
}

.search-results-body {
  //display: table-row-group;
}

.search-results-row {
  //display: table-row;

}

.other-duplicate-toggle {
  margin-left: 18px;
}

.toggle-placeholder {
  margin-left: 36px
}

.search-results-cell {
  //display: table-cell;
  text-align: left;
}

.nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  text-align: center;
}

.table > tbody > tr > td {
  text-align: left;
}

.table > thead > tr > th {
  text-align: left;
}

.table > tbody + tbody {
  border-top: 1px solid @table-border-color;
}

.tab-content {
  padding-top: 30px;
}

.glyphicon-refresh-animate {
  -webkit-animation: spinw .7s infinite linear;
  -moz-animation: spinm .7s infinite linear;
}

@-webkit-keyframes spinw {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spinm {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

/*
 * Pulse animation
*/

@-webkit-keyframes pulsew {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes pulsem {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.1);
  }
  100% {
    -moz-transform: scale(1);
  }
}

.pulse {
  -webkit-animation-name: pulsew;
  -moz-animation: pulsem;
}

.config-submit {
  border: 1px solid #1c1e22;
  border-bottom-color: transparent;
  border-radius: @border-radius-base @border-radius-base 0 0;
  margin-top: 7px
}

.pulse2 {
  animation: pulse2 1s linear infinite;
  animation-direction: alternate-reverse;
}

@keyframes pulse2 {
  0% {

    transform: scale(1);
  }
  50% {

    transform: scale(1.1);
  }
  100% {

    transform: scale(1.2);
  }

}

.fuzzy-nfo {
  color: lighten(@gray, 30%);
}

.no-nfo {
  visibility: hidden;
}

.pagination {
  margin: 0;
}

.ui-select-choices-row > a {
  background-color: @input-bg;
  color: @input-color;
}

.ui-select-match > .btn {
  background-color: @input-bg;
  color: @input-color;
}

.dropdown-menu {
  background-color: @input-bg;
  color: @input-color;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: @brand-success;
  color: @btn-primary-color;
}

.input-group-btn2 {
  border: 1px solid @navbar-default-border;
  border-radius: @border-radius-base;
}

.input-group-btn:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-btn:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left-width: 0;
}



.search-results-table {
  border: 1px solid @brand-primary;
}

.search-results-table > tbody > tr > td {
  border-top-width: 0 !important;
}

.duplicate {
  background-color: darken(@table-bg, 15%);
  
}

.title-group-first-row {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-left-color: @brand-primary;
  border-right-color: @brand-primary;
  border-top-color: @table-border-color;
}

.title-group-last-row {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-left-color: @brand-primary;
  border-right-color: @brand-primary;
  border-bottom-color: @table-border-color;
}

.title-group-middle-row {
  border: 0 solid;
  border-right: 1px @brand-primary;
  border-left: 1px @brand-primary;
}

.duplicate-group-middle-row {
  border: 0 solid;
  border-right: 1px @brand-primary;
  border-left: 1px @brand-primary;
}

.duplicate-group-last-row {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-left-color: @brand-primary;
  border-right-color: @brand-primary;
  border-bottom-color: @table-border-color;
}

.odd {
  background-color: darken(@table-bg, 5%);
}

.nav-tabs > li > a:hover {
  border-color: @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color transparent;
  background-color: transparent;
}

@input-color-placeholder: #c1c1c1;


.form-control::-webkit-input-placeholder {
  color: @input-color-placeholder;
}

.form-control:-moz-placeholder {
  color: @input-color-placeholder;
}

.form-control::-moz-placeholder {
  color: @input-color-placeholder;
}

.form-control:-ms-input-placeholder {
  color: @input-color-placeholder;
}

.bootstrap-switch {
  border: 1px solid @input-border;
}


.indexer-checkbox {
  margin-left: 10px !important;
}

.block-ui-overlay {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
}

.block-ui-message {
  background-color: white;
  color: @brand-primary;
}

.nfo {
  background-color: transparent;
  border-width: 0;
  text-align: left
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}