<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-10" style="text-align: center">
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="downloads"></dir-pagination-controls>
    </div>
    <div class="col-md-5" style="text-align: right">
        <div class="btn-group" style="margin-bottom: 5px">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Show... <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="changeType('All')">All</a></li>
                <li><a href="#" ng-click="changeType('Internal')">Internal only</a></li>
                <li><a href="#" ng-click="changeType('API')">API only</a></li>
            </ul>
        </div>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Indexer</th>
        <th>Title</th>
        <th>Successful</th>
        <th>Access</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="nzbDownload in nzbDownloads | itemsPerPage: limit" total-items="totalDownloads" current-page="pagination.current" pagination-id="downloads">
        <td>{{ nzbDownload.time | reformatDate}}</td>
        <td>{{ nzbDownload.indexerName }}</td>
        <td>
            <addable-nzbs search-result-id="nzbDownload.searchResultId" ng-style="{'visibility':!nzbDownload.searchResultId ? 'hidden' : 'initial'}"></addable-nzbs>
            <a target="_blank" href="{{ nzbDownload.detailsLink }}" ng-if="nzbDownload.detailsLink">{{ nzbDownload.title }}</a><span ng-if="!nzbDownload.detailsLink">{{ nzbDownload.title }}</span>
        </td>
        <td><span class="glyphicon" ng-class="{'glyphicon-ok': nzbDownload.response_successful == true, 'glyphicon-remove': nzbDownload.response_successful == false, 'glyphicon-question-sign': nzbDownload.response_successful == null}"></span></td>
        <td>{{ nzbDownload.internal ? "Internal" : "API"}}</td>
        <td>{{ nzbDownload.username }}</td>
    </tr>
    </tbody>
</table>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="downloads"></dir-pagination-controls>