<div class="row">
<div ag-grid="gridOptions" class="ag-bootstrap" style="height: 600px; width: 100%; text-align: left; margin-top: 30px"></div>
</div>
<!--

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-10" style="text-align: center">
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="searches"></dir-pagination-controls>
    </div>
    <div class="col-md-5" style="text-align: right">
        <div class="btn-group" style="margin-bottom: 5px">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Show... <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="changeType('All')">All</a></li>
                <li><a href="#" ng-click="changeType('Internal')">Internal only</a></li>
                <li><a href="#" ng-click="changeType('API')">API only</a></li>
            </ul>
        </div>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Query</th>
        <th>Category</th>
        <th>Additional parameters</th>
        <th>Access</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="request in searchRequests | itemsPerPage: limit" total-items="totalRequests" current-page="pagination.current" pagination-id="searches">
        <td>{{ request.time | reformatDate }}</td>
        <td>
            <a href="" ng-click="openSearch(request)"><span class="glyphicon glyphicon-search"></span></a>
            <span ng-class="{'history-title': request.movietitle != null || request.tvtitle != null || (request.query == null && request.identifier_key == null && request.season ==null && request.episode ==null)}">
                {{ formatQuery(request) }}

            </span>
        </td>
        <td>{{ request.category }}</td>
        <td ng-bind-html="formatAdditional(request)"></td>
        <td>{{ request.internal ? "Internal" : "API"}}</td>
        <td>{{ request.username }}</td>
    </tr>
    </tbody>
</table>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="searches"></dir-pagination-controls>

-->