interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.tvmaze.com/lookup/shows?thetvdb=299350
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json; charset=UTF-8]
      location: ['http://api.tvmaze.com/shows/3036']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: http://api.tvmaze.com/shows/3036
  response:
    body: {string: !!python/unicode '{"id":3036,"url":"http://www.tvmaze.com/shows/3036/casual","name":"Casual","type":"Scripted","language":"English","genres":["Comedy"],"status":"Running","runtime":30,"premiered":"2015-10-07","schedule":{"time":"","days":["Wednesday"]},"rating":{"average":8.6},"weight":1,"network":null,"webChannel":{"id":2,"name":"Hulu","country":{"name":"United
        States","code":"US","timezone":"America/New_York"}},"externals":{"tvrage":47566,"thetvdb":299350,"imdb":"tt4577466"},"image":{"medium":"http://tvmazecdn.com/uploads/images/medium_portrait/20/51190.jpg","original":"http://tvmazecdn.com/uploads/images/original_untouched/20/51190.jpg"},"summary":"<p><strong><em>\"Casual\"</em></strong>
        is a comedy series about a bachelor brother and his newly divorced sister
        living under one roof again. Together, they coach each other through the crazy
        world of dating while raising her teenage daughter.</p>","updated":1456389243,"_links":{"self":{"href":"http://api.tvmaze.com/shows/3036"},"previousepisode":{"href":"http://api.tvmaze.com/episodes/407482"}}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.tvmaze.com/lookup/shows?tvrage=47566
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json; charset=UTF-8]
      location: ['http://api.tvmaze.com/shows/3036']
    status: {code: 301, message: Moved Permanently}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.tvmaze.com/shows/3036
  response:
    body: {string: !!python/unicode '{"id":3036,"url":"http://www.tvmaze.com/shows/3036/casual","name":"Casual","type":"Scripted","language":"English","genres":["Comedy"],"status":"Running","runtime":30,"premiered":"2015-10-07","schedule":{"time":"","days":["Wednesday"]},"rating":{"average":8.6},"weight":1,"network":null,"webChannel":{"id":2,"name":"Hulu","country":{"name":"United
        States","code":"US","timezone":"America/New_York"}},"externals":{"tvrage":47566,"thetvdb":299350,"imdb":"tt4577466"},"image":{"medium":"http://tvmazecdn.com/uploads/images/medium_portrait/20/51190.jpg","original":"http://tvmazecdn.com/uploads/images/original_untouched/20/51190.jpg"},"summary":"<p><strong><em>\"Casual\"</em></strong>
        is a comedy series about a bachelor brother and his newly divorced sister
        living under one roof again. Together, they coach each other through the crazy
        world of dating while raising her teenage daughter.</p>","updated":1456389243,"_links":{"self":{"href":"http://api.tvmaze.com/shows/3036"},"previousepisode":{"href":"http://api.tvmaze.com/episodes/407482"}}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
