interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.tvmaze.com/search/shows?q=breaking%20bad
  response:
    body: {string: "[{\"score\":2.002336,\"show\":{\"id\":169,\"url\":\"http://www.tvmaze.com/shows/169/breaking-bad\",\"name\":\"Breaking
        Bad\",\"type\":\"Scripted\",\"language\":\"English\",\"genres\":[\"Drama\",\"Crime\",\"Thriller\"],\"status\":\"Ended\",\"runtime\":60,\"premiered\":\"2008-01-20\",\"schedule\":{\"time\":\"22:00\",\"days\":[\"Sunday\"]},\"rating\":{\"average\":9.4},\"weight\":4,\"network\":{\"id\":20,\"name\":\"AMC\",\"country\":{\"name\":\"United
        States\",\"code\":\"US\",\"timezone\":\"America/New_York\"}},\"webChannel\":null,\"externals\":{\"tvrage\":18164,\"thetvdb\":81189,\"imdb\":\"tt0903747\"},\"image\":{\"medium\":\"http://tvmazecdn.com/uploads/images/medium_portrait/0/2400.jpg\",\"original\":\"http://tvmazecdn.com/uploads/images/original_untouched/0/2400.jpg\"},\"summary\":\"<p><em><strong>\\\"Breaking
        Bad\\\"</strong></em> follows protagonist Walter White, a chemistry teacher
        who lives in New Mexico with his wife and teenage son who has cerebral palsy.
        White is diagnosed with Stage III cancer and given a prognosis of two years
        left to live. With a new sense of fearlessness based on his medical prognosis,
        and a desire to secure his family's financial security, White chooses to enter
        a dangerous world of drugs and crime and ascends to power in this world. The
        series explores how a fatal diagnosis such as White's releases a typical man
        from the daily concerns and constraints of normal society and follows his
        transformation from mild family man to a kingpin of the drug trade.</p>\",\"updated\":1456333620,\"_links\":{\"self\":{\"href\":\"http://api.tvmaze.com/shows/169\"},\"previousepisode\":{\"href\":\"http://api.tvmaze.com/episodes/12253\"}}}},{\"score\":1.2548063,\"show\":{\"id\":6101,\"url\":\"http://www.tvmaze.com/shows/6101/breaking-band\",\"name\":\"Breaking
        Band\",\"type\":\"Reality\",\"language\":\"English\",\"genres\":[],\"status\":\"Running\",\"runtime\":30,\"premiered\":\"2015-10-14\",\"schedule\":{\"time\":\"21:30\",\"days\":[\"Sunday\"]},\"rating\":{\"average\":null},\"weight\":0,\"network\":{\"id\":170,\"name\":\"AXS
        TV\",\"country\":{\"name\":\"United[...]
