<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:newznab="http://www.newznab.com/DTD/2010/feeds/attributes/">
    <channel>
        <title>NZB Hydra</title>
        <description>NZB Hydra - the meta search</description>
        <link>https://github.com/theotherp/nzbhydra</link>
        <language>en-gb</language>
        <webMaster>TheOtherP@web.de (TheOtherP)</webMaster>

        <newznab:response offset="{{ offset }}" total="{{ total }}"/>

        {% for item in items -%}
            <item>
                <title>{{ provider }} {{ item.count }}</title>
                <guid isPermaLink="true">{{ item.count  }}</guid>
                <link>link</link>
                <comments></comments>
{#                <pubDate>Fri, {{ item.day }} Sep 2015 06:14:46 -0600</pubDate>#}
                <pubDate>{{ item.date }}</pubDate>
                <description></description>
                <enclosure url="" length="10000" type="application/x-nzb"/>

{#                {% for attribute in row.attributes %}#}
{#                    <newznab:attr name="{{ attribute.name }}" value="{{ attribute.value }}"/>#}
{#                {%- endfor %}#}


            </item>

        {%- endfor %}

    </channel>
</rss>