html,
body {
  height: 100%;
  background: #555;
}
/* ------ featurette */
.featurette {
  display: table;
  width: 100%;
  height: 10%;
  /* set a pixel height and then remove the body,html height */
  vertical-align: middle;
  color: #fff;
}
.featurette-inner {
  display: table-cell;
  vertical-align: middle;
}
.featurette .search {
  padding: 3%;
  max-width: 980px;
  /*max width of search*/
  margin: 0 auto;
}
.no-margin-top {
  margin-top: 0;
}
/* ------ form-control-lg */
.form-control-lg {
  min-height: 46px;
  border-radius: 6px;
  font-size: 18px;
  line-height: normal;
}
.td-embedded {
  background-color: #22262a;
  font-size: 9px;
}
.td-embedded:first-child {
  margin-left: 30px;
}
.hidden-keep-space {
  visibility: hidden;
}
.caret-reversed {
  transform: rotate(180deg);
}
.search-input {
  width: 80%;
}
.episode-input {
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-radius: 0;
}
.episode-input:focus {
  border-width: 0px !important;
}
.season-input {
  border-radius: 0;
}
.search-border {
  border-bottom-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.search-category-button {
  min-width: 105px;
  text-align: left;
}
.by-id-checkbox {
  font-size: 14px;
  color: #272b30;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-right: 0px;
  border-radius: 4px;
}
textarea.by-id-checkbox {
  height: auto;
}
