<div ng-transclude>
</div>


<!--
<tr>
                    <td class="col-md-9 text-left">
                        <span ng-class="{'hidden-keep-space': resultwithduplicates.length == 1}" class="clickable glyphicons glyphicons-plus" ng-click="showduplicates = !showduplicates">+</span> {{ result.title }}
                    </td>
                    <td class="col-md-1 text-left">
                        {{ result.provider }}
                    </td>
                    <td class="col-md-1 text-left">
                        Category
                    </td>
                    <td class="col-md-1 text-left">
                        {{ result.size | bytes }}
                    </td>
                    <td class="col-md-1 text-left">
                        {{ result.age_days }}d
                    </td>
                    <td class="col-md-1 text-left">
                        Link
                    </td>
                </tr>
                
                 <tr ng-repeat="result in resultwithduplicates" ng-if="$index > 0" ng-show="showduplicates">
                    <td class="col-md-9 text-left td-embedded">
                    </td>
                    <td class="col-md-1 text-left td-embedded">
                        {{ result.provider }}
                    </td>
                    <td class="col-md-1 text-left td-embedded">
                        
                    </td>
                    <td class="col-md-1 text-left td-embedded">
                        {{ result.size | bytes }}
                    </td>
                    <td class="col-md-1 text-left td-embedded">
                        {{ result.age_days }}d
                    </td>
                    <td class="col-md-1 text-left td-embedded">
                        Link
                    </td>
                </tr>

-->