<!DOCTYPE html>
<html ng-app="nzbhydraApp">
<head>
    <title ng-bind="'NZB Hydra' + (' - ' + $title || '')">NZB Hydra</title>
    <base href="{{ base_url }}"/>
    <meta name="robots" content="noindex"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="static/css/alllibs.css" rel="stylesheet">
    <link href="static/css/nzbhydra.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/img/favicon.ico">

</head>
<body style="text-align: center">
<div growl></div>

<div id="wrap">

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="search" ui-sref-opts="{inherit: false}">Search</a></li>
                    <li ui-sref-active="active"><a ui-sref="stats">History & Stats</a></li>
                    <li ui-sref-active="active"><a ui-sref="config">Config</a></li>
                    <li ui-sref-active="active"><a ui-sref="system">System</a></li>
                </ul>

            </div>
        </div>
    </nav>


    <div style="margin: auto; max-width: 1400px;">
        <img src="static/img/banner.png" style="margin-bottom: 25px;">
        <div ui-view class="container-fluid" block-ui="main">
        </div>
    </div>
    <div id="push"></div>
</div>

<span ng-controller="UpdateFooterController">
    <div id="footer" ng-if="updateAvailable" ng-cloak>
        <div class="container">
            Yay, there's an update available. Your version: <span ng-bind-html="currentVersion"></span>. Latest version: <span ng-bind-html="repVersion"></span>.
            <button class="btn btn-default" type="button" ng-click="showChangelog()" style="margin-top: 5px;">See what's new!</button>
            <button class="btn btn-default" type="button" ng-click="update()" style="margin-top: 5px;">Update now!</button>
        </div>

    </div>
</span>
</body>

<script src="static/js/alllibs.js"></script>
<script src="static/js/nzbhydra.js"></script>
<script type="application/javascript">
    apiCheck.globalConfig.disabled = true;
    window.onProd = {{ onProd }};
</script>


</html>
