<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:newznab="http://www.newznab.com/DTD/2010/feeds/attributes/">
    <channel>
        <title>NZB Hydra</title>
        <description>NZB Hydra - the meta search</description>
        <link>https://github.com/theotherp/nzbhydra</link>
        <language>en-gb</language>
        <webMaster>TheOtherP@gmx.de (TheOtherP)</webMaster>        
            <item>
                <!--
                Yes I know this is incomplete. Sorry. Please let me know if this causes troubles...
                -->
                <description>{{ nfo }}</description>
            </item>
    </channel>
</rss>