<div class="row">
    <form ng-submit="submit(form)" name="form" novalidate>
        <uib-tabset>
            <uib-tab ng-repeat="tab in formTabs" heading="{{ tab.name }}"  active="allTabs[$index].active" select="goToConfigState($index)">
                <formly-form model="tab.model" fields="tab.fields" ng-if="allTabs[$index].active">
                </formly-form>
            </uib-tab>
            <uib-tab heading="Current log" select="goToConfigState(5)">
                <pre ng-bind-html="log" style="text-align: left"></pre>
                
            </uib-tab>
            <li style="position: absolute; right:0px; ">
                <button ng-disabled="form.$invalid" type="submit" class="btn config-submit" ng-class="{'btn-info': isSavingNeeded(form), 'pulse2': isSavingNeeded(form), 'btn-success': !isSavingNeeded(form)}">Save</button>
            </li>
        </uib-tabset>
    </form>
</div>


<script type="text/ng-template" id="ui-select-multiple.html">
    <ui-select multiple data-ng-model="model[options.key]" data-required="{{ to.required }}" data-disabled="{{ to.disabled }}" theme="bootstrap">
        <ui-select-match placeholder="{{ to.placeholder }}">{{$item[to.labelProp]}}</ui-select-match>
        <ui-select-choices data-repeat="{{ to.ngOptions }}">
            <div ng-bind-html="option[to.labelProp] | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
</script>


<script type="text/ng-template" id="button-test-connection.html">
    <span style="text-align: left;"><button class="btn btn-default" id="button-test-connection-{{ formId }}" type="button" ng-click="testConnection()"><span class="glyphicon glyphicon-refresh"></span></button> <span id="message-test-connection-{{ formId }}"></span></span>
</script>

<script type="text/ng-template" id="button-check-caps.html">
    <span style="text-align: left;"><button class="btn btn-default" id="button-check-caps-{{ formId }}" type="button" ng-click="checkCaps()"><span class="glyphicon glyphicon-refresh"></span></button> <span id="message-check-caps-{{ formId }}"></span></span>
</script>

<script type="text/ng-template" id="newznab-preset.html">
    <ui-select ng-model="selectedpreset" theme="bootstrap" on-select="selectPreset($item, $model)" search-enabled="false">
        <ui-select-match allow-clear="true">{{ display }}</ui-select-match>
        <ui-select-choices repeat="preset in presets">
            <div ng-bind-html="preset.name"></div>
        </ui-select-choices>
    </ui-select>
</script>


   