<div class="row">
    <form ng-submit="submit(form)" name="form" novalidate>
        <uib-tabset>
            <uib-tab ng-repeat="tab in formTabs" heading="{{ tab.name }}" active="allTabs[$index].active" select="goToConfigState($index)">
                <formly-form model="tab.model" fields="tab.fields" ng-if="allTabs[$index].active">
                </formly-form>
            </uib-tab>
            <li style="position: absolute; right:0px; ">
                <button ng-disabled="form.$invalid" type="submit" class="btn config-submit" ng-class="{'btn-info': isSavingNeeded(form), 'pulse2': isSavingNeeded(form), 'btn-success': !isSavingNeeded(form)}">Save</button>
            </li>
        </uib-tabset>
    </form>
</div>


<script type="text/ng-template" id="ui-select-multiple.html">
    <ui-select multiple data-ng-model="model[options.key]" data-required="{{ to.required }}" data-disabled="{{ to.disabled }}" theme="bootstrap">
        <ui-select-match class="ui-select-match" placeholder="{{ to.placeholder }}">{{$item[to.labelProp]}}</ui-select-match>
        <ui-select-choices class="ui-select-choices" data-repeat="{{ to.ngOptions }}">
            <div ng-bind-html="option[to.labelProp] | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
</script>


<script type="text/ng-template" id="button-test-connection.html">
    <span style="text-align: left;"><button class="btn btn-default" id="button-test-connection-{{ uniqueId }}" type="button" ng-click="testConnection()"><span class="glyphicon glyphicon-refresh"></span></button> <span id="message-test-connection-{{ uniqueId }}"></span></span>
</script>


<script type="text/ng-template" id="button-check-caps.html">
    <span style="text-align: left;"><button class="btn btn-default" id="button-check-caps-{{ uniqueId }}" type="button" ng-click="checkCaps()"><span class="glyphicon glyphicon-refresh"></span></button> <span id="message-check-caps-{{ uniqueId }}"></span></span>
</script>


<script type="text/ng-template" id="newznab-preset.html">
    <ui-select ng-model="selectedpreset" theme="bootstrap" on-select="selectPreset($item, $model)" search-enabled="false">
        <ui-select-match class="ui-select-match" allow-clear="true">{{ display }}</ui-select-match>
        <ui-select-choices class="ui-select-choices" repeat="preset in presets">
            <div ng-bind-html="preset.name"></div>
        </ui-select-choices>
    </ui-select>
</script>

<script type="text/ng-template" id="repeatSection.html">
    <div>
        <!--loop through each element in model array-->
        <div class="{{ hideRepeat }}">


            <div class="repeatsection" ng-repeat="element in model[options.key]" ng-init="fields = copyFields(to.fields)">
                <fieldset>
                    <legend>{{ element.name ? element.name : (element.username ? element.username : to.altLegendText)}}</legend>
                    <formly-form fields="fields"
                                 model="element"
                                 form="form">
                    </formly-form>
                    <div style="margin-bottom:20px;">
                        <button type="button" class="btn btn-sm btn-danger" ng-click="remove($index)">
                            Remove {{ element.name }}
                        </button>
                    </div>

                </fieldset>
            </div>
            <hr>
            <p class="AddNewButton">
                <button type="button" class="btn btn-primary" ng-click="addNew()">{{ to.btnText }}</button>
            </p>
        </div>
</script>


<script type="text/ng-template" id="setting-wrapper.html">

    <div class="form-group form-horizontal" ng-class="{'row': !options.templateOptions.noRow}">
        <div style="text-align:right;">
            <label for="{{::id}}" class="col-md-7 control-label">
                {{ to.label }} {{ to.required ? "*" : ""}}
            </label>
        </div>
        <div class="col-md-6">
            <formly-transclude></formly-transclude>
        </div>
        <span class="col-md-7 help-block">{{ to.help }}</div>
    <div class="my-messages" ng-messages="fc.$error" ng-if="options.formControl.$touched" ng-messages-multiple>
        <div class="some-message has-error control-label" ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages">
            {{ message(fc.$viewValue, fc.$modelValue, this)}}
        </div>
    </div>
    
</script>

