<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Query</th>
        <th>Category</th>
        <th>ID key</th>
        <th>ID value</th>
        <th>Season</th>
        <th>Episode</th>
        <th>Access</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="request in searchRequests | itemsPerPage: limit" total-items="totalRequests" current-page="pagination.current">
        <td>{{ request.time }}</td>
        <td>
            <a ng-href ng-click="openSearch(request)"><span class="glyphicon glyphicon-search"></span></a> 
            {{ request.query }}
        </td>
        <td>{{ request.category }}</td>
        <td>{{ request.identifier_key }}</td>
        <td>
            <a target="_blank" ng-if="request.identifier_key=='imdbid'" href="http://www.imdb.com/title/tt{{ request.identifier_value }}/">{{ request.identifier_value }}</a>
            <a target="_blank" ng-if="request.identifier_key=='tvdbid'" href="http://thetvdb.com/?tab=series&id={{ request.identifier_value }}/">{{ request.identifier_value }}</a>
        </td>
        <td>{{ request.season }}</td>
        <td>{{ request.episode }}</td>
        <td>{{ request.internal ? "Internal" : "API"}}</td>
    </tr>
    </tbody>
</table>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>