
    <tr ng-init="result=duplicate" class="search-results-row" ng-class="{'odd': rowIndex % 2 == 0, 'even' : rowIndex % 2 == 1}">
        <td class="col-md-12 search-results-cell" ng-init="result = duplicates[0]" style="margin:0;">
            {{ internalRowIndex }}
            <input type="checkbox" data-checklist-model="selected" data-checklist-value="result" ng-click="clickCheckbox($event)"/>

            <a href="" ng-click="toggleTitleExpansion()" ng-class="{'visibility-hidden': !displayTitleToggle}"><span class="glyphicon"
                                                                                                                     ng-class="{'glyphicon-collapse-up': titlesExpanded, 'glyphicon-expand': !titlesExpanded}"></span></a>

            <a ng-if="foo.duplicatesDisplayed" href="" ng-click="toggleDuplicateExpansion()" ng-class="{'visibility-hidden': duplicates.length == 1}"><span class="glyphicon"
                                                                                                                            ng-class="{'glyphicon-collapse-up': duplicatesExpanded, 'glyphicon-expand': !duplicatesExpanded}"></span></a>
            <span ng-if="isFirstRow">{{ ::result.title }}</span>
        </td>
        <td other-columns result="result"></td>
    </tr>

