<table style="width: 100%; margin:0; border-width: 0; padding: 0" class="table">

<!--   <tr ng-repeat="result in duplicatesToShow() track by result.searchResultId" class="search-results-row duplicate" ng-class="{'duplicate-group-middle-row': !$last || expanded, 'duplicate-group-last-row': $last && !expanded}">-->
    <tr ng-repeat="result in duplicatesToShow() track by result.searchResultId" class="search-results-row" ng-class="{'title-group-first-row': expanded, 'odd': rowIndex % 2 == 0, 'even' : rowIndex % 2 == 1}">
        <td colspan="6" style="margin:0; border-width: 0; padding: 0">
            <table style="width: 100%; margin:0; border-width: 0; padding: 0" class="table">
                <tr style="margin:0; border-width: 0; padding: 0" ng-class="{'odd': rowIndex % 2 == 0, 'even' : rowIndex % 2 == 1}">


                    <td class="col-md-12 search-results-cell" ng-init="result = duplicates[0]">
                        <input type="checkbox" data-checklist-model="selected" data-checklist-value="result"/>
                        <a href="" ng-click="expanded=!expanded" ng-class="{'visibility-hidden': duplicates.length == 1}"><span class="glyphicon"
                                                                                                                                ng-class="{'glyphicon-collapse-up': expanded, 'glyphicon-expand': !expanded}"></span></a>
                        {{ ::result.title }}
                    </td>
                    <td other-columns result="result"></td>
                </tr>
            </table>
        </td>
    </tr>

</table>